x-app: &default-app
  build:
    target: development
  pull_policy: build
  environment:
    DJANGO_INTERNAL_IPS: ${DJANGO_INTERNAL_IPS:?}
    DJANGO_SETTINGS_MODULE: example_project.settings.development
    FORCE_DEBUG_TOOLBAR: ${FORCE_DEBUG_TOOLBAR:-true}
    REMOTE_DEBUGGING_ENABLED: ${REMOTE_DEBUGGING_ENABLED:-false}
    REMOTE_DEBUGGING_PORT: ${REMOTE_DEBUGGING_PORT:-5678}
  develop:
    watch:
      - action: sync
        path: .
        target: /app
        ignore:
          - .git/
          - .venv/
          - node_modules/
      - action: rebuild
        path: ./pyproject.toml

services:
  init:
    profiles:
      - never

  web:
    <<: *default-app
    image: example_project_dev-web:latest
    ports:
      - ${WEB_DEV_PORT:-8000}:8000
      - ${REMOTE_DEBUGGING_PORT:-5678}:5678
    command: >
      bash -c "
        cd example_project;
        wait-for-it -s postgres.local:5432 -t 60 && 
        ./manage.py migrate &&
        ./manage.py create_superuser &&
        ./manage.py create_example_users &&
        ./manage.py create_example_groups &&
        ./manage.py create_example_jobs &&
        ./manage.py retry_stalled_jobs &&
        ./manage.py runserver 0.0.0.0:8000
      "

  worker:
    <<: *default-app
    image: example_project_dev-worker:latest
    command: >
      bash -c "
        cd example_project;
        wait-for-it -s postgres.local:5432 -t 60 &&
        ./manage.py bg_worker -l debug --autoreload
      "

  postgres:
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - ${POSTGRES_DEV_PORT:-5432}:5432
