{% extends "registration/registration_base.html" %}
{% block title %}
    Account Activation
{% endblock title %}
{% block heading %}
    <c-heading title="Account Activation" />
{% endblock heading %}
{% block content %}
    <p>
        You activated your account.
        {% if not user.is_authenticated %}Once a site administrator confirms your activation you can login.{% endif %}
    </p>
{% endblock content %}
{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
