{% extends "registration/registration_base.html" %}
{% block title %}
    Account Activation Failed
{% endblock title %}
{% block heading %}
    <c-heading title="Account Activation Failed" />
{% endblock heading %}
{% block content %}
    <p>Please contact the support if the problem persists.</p>
{% endblock content %}
{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
