{% extends "registration/registration_base.html" %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock title %}
{% block heading %}
    <c-heading title="Change Password" />
{% endblock heading %}
{% block content %}
    <p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Change Password" />
        </form>
    </p>
{% endblock content %}
{# This is used by django.contrib.auth #}
