{% extends "registration/registration_base.html" %}
{% block title %}
    Account Activation Resent
{% endblock title %}
{% block heading %}
    <c-page-heading title="Account Activation Resent" />
{% endblock heading %}
{% block content %}
    <p>We have sent an email to {{ email }} with further instructions.</p>
{% endblock content %}
{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
