{% extends "accounts/accounts_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock title %}
{% block heading %}
    <c-page-heading title="Change Password" />
{% endblock heading %}
{% block content %}
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {{ redirect_field }}
        <input class="btn btn-primary" type="submit" value="Change Password" />
    </form>
{% endblock content %}
