{% extends "accounts/accounts_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block meta %}
    <!-- This prevents leaking the password reset token via the
         Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin" />
{% endblock meta %}
{% block title %}
    Reset Password
{% endblock title %}
{% block heading %}
    <c-page-heading title="Reset Password" />
{% endblock heading %}
{% block content %}
    {% if token_fail %}
        <p>
            The password reset link is invalid, possibly because it has already been used.
            Please <a href="{% url 'account_reset_password' %}">request a new one</a>.
        </p>
    {% else %}
        <p>Enter your new password below to reset your password:</p>
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            {{ redirect_field }}
            <input type="submit" class="btn btn-primary" value="Set Password" />
        </form>
    {% endif %}
{% endblock content %}
