{% extends "example_app/example_app_layout.html" %}
{% block title %}
    Examples
{% endblock title %}
{% block heading %}
    <c-heading title="Examples" />
{% endblock heading %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{% url 'example_messages' %}">Messages</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'example_toasts' %}">Toasts</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'example_async_class_view' %}">Async class based view</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'example_task' %}">Example task</a>
        </li>
    </ul>
{% endblock content %}
