{% extends "core/core_layout.html" %}
{% load crispy from crispy_forms_tags %}
{% block title %}
    Broadcast Email
{% endblock title %}
{% block heading %}
    <c-heading title="Broadcast Email" />
{% endblock heading %}
{% block content %}
    <p>Send an email to all registered users.</p>
    <form action="{% url 'broadcast' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="send" value="Send" class="btn btn-primary" />
    </form>
{% endblock content %}
